/* =============================================
 *
 *   GHERZONENOAH
 *
 *   © 2020 Dezyphr™. All rights reserved.
 *   gntpasion.cpe@gmail.com
 *   gherzonenoah.github.io
 *
 * ============================================= */

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


/* ------------------------------------------
  RESPONSIVE NAV STYLES
--------------------------------------------- */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}


/* ------------------------------------------
  DEMO STYLES
--------------------------------------------- */

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #fff;
  font: normal 100%/1.4 sans-serif;
}

/* body, html { full background image-prereq
  height: 100%;
  margin: 0;
} */

section {
  text-align: center;
  padding: 20px 0 0;
  height: auto;
  width: 100%;
}

h1 {
  margin-bottom: .5em;
}

p {
  width: 90%;
  margin: 0 auto;
}


/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */

header {
  background: #202124;
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
}

.logo {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  text-align: center;
  align-items: center;
  font-weight: normal;
  line-height: 58px; /**/
  /*padding: 0 20px;*/
  color: #fff;
  /*float: left;*/
}

.logo img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  height: 58px;
  width: auto;
}*
/* ------------------------------------------
  FIXED FOOTER
--------------------------------------------- */
footer {
  background: #202124;
  color: white;
  font-size: 11px;
  position: fixed;
  z-index: 3;
  height: 20px;
  padding: 3px 0 0 5px;
  width: 100%;
  bottom: 0;
}

footer a{
  color: white;
  text-decoration: none;
}

/* ------------------------------------------
  MASK
--------------------------------------------- */

.mask {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0,0,0, .5);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.android .mask {
  -webkit-transition: none;
  transition: none;
}

.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 40em) {
  .mask {
    display: none !important;
    opacity: 0 !important;
  }
}


/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

@media screen and (min-width: 40em) {
  .nav-collapse {
    float: right;
    width: auto;
  }
}

.nav-collapse li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: auto;
    font-size: 0.75em; /*menu font size*/
    text-align: center;
    align-items: center;
  }
}

.menu-icons{ /*menu icon size*/
  display: inline-block;
  vertical-align: middle;
  height: 2.75em;
  width: auto;
}

.nav-collapse a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border-top: 1px solid white;
  text-decoration: none;
  text-align: center;
  background: #202124;
  padding: 0.4em 1em;
  color: #fff;
  width: 100%;
  float: left;
}

.nav-collapse a:active,
.nav-collapse .active a {
  background: #686868;
  border-top: 3px solid #98c36e;
  /*border-radius: 0 0 25px 25px;*/ /*curve edge*/
}

@media screen and (min-width: 40em) {
  .nav-collapse a {
    /*border-left: 1px solid white;*/ /* borderline */
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    float: left;
    margin: 0;
  }
}

.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

@media screen and (min-width: 40em) {
  .nav-collapse ul ul a {
    display: none;
  }
}

/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 58px;
  float: left; /**/
}

.nav-toggle:before {
  color: #fff; /* Edit this to change the icon color */
  font: normal 24px/58px "responsivenav"; /* Edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* Hamburger icon */
  text-indent: 0;
  speak: none;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\78"; /* Close icon */
}

/* ------------------------------------------
  HOME
--------------------------------------------- */
.home-container {
background-image: url("https://raw.githubusercontent.com/gherzonenoah/gherzonenoah.github.io/master/img/homebg-1920x1000.jpg"); /* The image used */
/*height: 100%; /* Full height */
width: 100%;
height: 700px;
background-position: center; /* Center and scale the image nicely */
background-repeat: no-repeat;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
display: inline-block;
vertical-align: middle;
}

.home-title p {
  width: 200px;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 55px;
  padding: 7px 20px 5px 20px;
  color: #98c36e;
  background: #202124;
  border-top: 4px solid #98c36e;
}

/*div.home-title:before{ /*diagonal
  position: absolute;
  right: 220px;
  content: '';
  border-top: 20px solid #98c36e;
  border-right: 20px solid transparent;
  margin-right: 20px;
}*/

.home-text p {
  width: 200px;
  height: auto;
  margin-right: 20px;
  padding: 5px 20px 12px 20px;
  color: white;
  background: rgba(33, 32, 36, 0.8);
}


img.home-signature {
  height: 17%;
  width: auto;
  right: 25px;
  bottom: 15%;
  position: absolute;
  pointer-events: none;
}

.home-container ul{
    list-style: none; /*social media icons*/
    margin-top: 1px;
    margin-right: 18px;
}

.social-media-icon img {
  float: right;
  height: 40px;
  width: auto;
}

/* ------------------------------------------
  SERVICES
--------------------------------------------- */
.services-container {
  background-color: #61afd1;
  width: 100%;
}

.services-block {
  display: inline-block;
  vertical-align: top;
  pointer-events: none;
  width: 320px;
  height: auto;
  margin: 10px 20px;
}

.services-image {
  width: 320px;
  height: auto;
}

.services-block p {
  text-align: left;
  margin: 0;
}

.services-block ul{
  text-align: left;
  font-size: 11px;
  margin: 2px 0 0 15px;
}

.services-title {
  color: white;
  padding: 5px 10px;
  position: absolute;
  background: #202124;
}

.notice{
 font-size: 14px;
 background-color: rgba(255, 255, 255, 0.4);
 padding: 2px 0;
}

.more-info{
  font-size: 13px;
  margin: 0 15px 0 15px;
}
/* ------------------------------------------
  FEED
--------------------------------------------- */
.feed-container {
  background-color: #ebebeb;
  width: 100%;
}

.profile-img {
  width: 60px;
  height: 60px;
  border: solid 2px White;
  border-radius: 50%;
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
}

.story-img {
  width: 165px;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  margin-top: 5px;
}

.feed-story {
  display: inline-block;
  margin-right: 10px;
}
.feed-story h4{
  text-align: left;
}

.feed-post {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 13px;
  margin: 10px 20px;
}

.feed-image {
  width: 100%;
  max-width: 320px;
  max-height: 220px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.feed-post p {
  width: 320px;
  text-align: left;
  margin: 0;
}

.feed-post ul{
  text-align: left;
  font-size: 11px;
  margin: 2px 0 0 15px;
}

.feed-author {
  text-align: left;
}

.feed-author h4 { /*author name*/
  vertical-align: middle;
  display: inline-block;
  font-weight: bold;
  color: #385898;
}

.pos-date-time {
  margin-top: -8px;
  text-align: left;
  font-size: 11px;
  margin-left: 50px;
  position: absolute;
}

.feed-author img {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 50%;
}

/* ------------------------------------------
  PORTFOLIO
  *See more at "css/grid-gallery.css"
--------------------------------------------- */
#portfolio-title {
  color: white;
}

.portfolio-container {
  background-color: black;
  width: 100%;
}

#show-caption{
  color: white;
  padding: 5px 10px;
  position: absolute;
  background: #202124;
  border-radius: 10px;
  z-index: 9999;
  bottom: 10px;
  left: 10px;
}

/* ------------------------------------------
  CV
--------------------------------------------- */
.cv-section-title{
  color: white;
}
.cv-container {
  background-color: #282C34;
  width: 100%;
}

.cv-block {
  background-color: #202124;
  display: inline-block;
  border-radius: 15px;
  vertical-align: top;
  width: 320px;
  height: auto;
  margin: 10px 20px;
  padding-bottom: 10px;
}

.cv-block-overflow {
  background-color: #202124;
  border-top: solid 4px #98c36e;
  border-bottom: solid 4px #98c36e;
  display: inline-block;
  vertical-align: top;
  width: 320px;
  height: auto;
  margin: 10px 20px;
  padding-bottom: 10px;
}

.cv-title {
  color: #202124;
  font-size: 18px;
  font-weight: normal;
  vertical-align: middle;
  display: inline-block;
}

.ts-title {
  color: white;
  font-size: 18px;
  font-weight: normal;
  vertical-align: middle;
  display: inline-block;
  margin: 5px 0;
}

.cv-title-container {
  background-color: #98c36e;
  border-radius: 15px 15px 0 0;
  padding-top: 10px;
  width: 320px;
  height: 35px;
}

.cv-icon {
  width: 25px;
  height: auto;
  vertical-align: middle;
  pointer-events: none;
}

.cv-block p {
  margin-top: 10px;
  color: white;
  text-align: left;
  padding: 0 2px;
}

.cv-block ul, .cv-block-overflow ul{
  color: white;
  text-align: left;
  font-size: 12px;
  margin: 2px 10px 0 25px;
}

.company-tag {
  font-size: 14px;
  font-weight:normal;
  text-align: left;
  color: white;
  border: solid 1px #5C6370;
  border-radius: 5px 20% 20% 5px;
  display: inline-block;
  vertical-align: middle;
  margin: 2px 2px 2px 10px;
}

.company-tag-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
  pointer-events: none;
}

.company-details-block {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: 320px;
  height: auto;
  padding-top: 5px;
}

.date {
  color: #282C34;
  background-color: #c678bd;
  padding: 3px 10px 3px 10px;
  margin-left: 5px;
  border-radius: 15px 15px 0 0;
  border-top: solid 2px White;
  border-right: solid 5px #5C6370;
}

.date-position-parent{
  padding-top: 12px;
  width: 320px;
  height: auto;
}

.company-position {
  display: inline-block;
  vertical-align: middle;
  color: #282C34;
  background-color: #61afd1;
  padding: 3px 10px 3px 10px;
  margin: 0 0 5px 5px;
  border-top: solid 3px White;
  border-right: solid 6px #5C6370;
  border-radius: 15px;
}

.person-info {
  text-align: left;
  font-size: 14px;
  margin: 2px 10px 0 20px;
  color: White;
}

.person-info-caption {
  color: #98C36E;
}

.blur-text {
  filter: blur(3.5px);
  -webkit-filter:blur(3.5px);
  user-select: none;}

.affiliation-title {
  color: #98C36E;
  font-size: 14px;

}
.p-char-ref {
  font-size: 12px;
}
.p-char-ref strong {
  font-size: 15px;
}
.cv-true-info {
  color: white;
  font-size: 12px;
}
